{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block nav %}
<div class='container'>
{% if uin %}
<li class="nav-item">
  <a class="nav-link" href="" tabindex="-1" >Check-ins</a>
</li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('logout')}}" tabindex="-1" >Logout</a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('login')}}" tabindex="-1" >Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('register')}}" tabindex="-1" >Register</a>
  </li>
  {% endif %}
</div>
{% endblock %}
{% block content %}
<h4>Welcome {{ member.name }}!</h4>
<a class="nav-link" href="{{ url_for('checkin')}}" tabindex="-1" >Check In</a>
<a class="nav-link" href="{{ url_for('view_checkins')}}" tabindex="-1" >Check-ins</a>
{% endblock %}
