<!DOCTYPE html>
<html>
  <head>
    <title>New Exercise Log</title>
  </head>
  <body>
    <h1>New Exercise Log for {{ workout.date }}</h1>
    <form method="post" action="{{ url_for('new_exercise_log', workout_id=workout.id) }}">
      {{ form.hidden_tag() }}
      <div>
        {{ form.exercise.label }} {{ form.exercise() }}
      </div>
      <div>
        {{ form.sets.label }} {{ form.sets() }}
      </div>
      <div>
        {{ form.reps.label }} {{ form.reps() }}
      </div>
      <div>
        {{ form.weight.label }} {{ form.weight() }}
      </div>
      <div>
        {{ form.submit() }}
      </div>
    </form>
  </body>
</html>
