<!-- <!DOCTYPE html>
<html>
<head>
    <title>Package</title>
</head>
<body>
    <h1>Create a Package</h1>
    <form method="POST" action="{{ url_for('package') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }} {{ form.name(size=32) }}
        </div>
        <div>
            {{ form.price.label }} {{ form.price(size=32) }}
        </div>
        <div>
            {{ form.duration.label }} {{ form.duration(size=32) }}
        </div>
        <div>
            <input type="submit" value="Create Package">
        </div>
    </form>
</body>
</html> -->
